:root {
  --main-color: white;
  --button-color: rgba(39, 33, 66);
  --secondary-color: rgba(246, 82, 130, 1);
  --background-color: rgb(27, 27, 27);
  --hover-color: rgb(202, 202, 202);
  --main-font-family: "Roboto Slab", serif;
  --second-font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--hover-color);
}

li {
  text-align: center;
}

.header {
  background-color: var(--background-color);
  padding: 15px 0;
}

.header a,
.buttonIcon {
  color: var(--main-color);
}

.header li a:hover {
  color: var(--hover-color);
}

.header .active {
  font-weight: 600;
}

.header .navbar-brand {
  font-weight: 500;
}

.mainInformation {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.mediaIcon {
  font-size: 18px;
  padding: 0 10px;
  text-decoration: none;
}

.menuIcon {
  font-size: 27px;
  color: rgba(255, 255, 255, 0.776);
}

.sectionAbout h1 {
  font-size: 64px;
  color: var(--main-color);
  text-transform: uppercase;
}

.sectionAbout h2 {
  font-size: 18px;
  color: var(--secondary-color);
  padding: 51px 0px 32px 0px;
  text-transform: uppercase;
}

.sectionAbout p {
  font-size: 18px;
  color: var(--main-color);
  padding: 34px 140px 50px 0px;
}

.sectionAbout .cameraInfo {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
  padding-left: 30px;
}

.sectionAbout .cameraImage {
  width: auto;
  max-height: 60px;
}

.sectionAbout .card {
  background-color: rgba(45, 39, 39, 1);
  max-width: 423px;
  margin-bottom: 66px;
}

.sectionHome h1,
.sectionHome h2,
.sectionHome p,
.sectionAbout h1,
.sectionAbout h2,
.sectionAbout p {
  font-family: var(--main-font-family);
}

.sectionHome h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sectionHome h2 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 14px;
}

.sectionHome p {
  font-size: 18px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 48px;
  width: 450px;
}

.btnBranding {
  color: var(--button-color);
  font-size: 14px;
  font-weight: 600;
  font-family: var(--second-font-family);
  border-radius: 50px;
  text-transform: uppercase;
  padding: 18px, 30px, 18px, 30px;
}

.sectionHome {
  background-image: url(../images/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  color: var(--main-color);
  text-align: center;
}

.sectionPhotography {
  margin-top: 100px;
}

.sectionPhotography .imagesList {
  margin-bottom: 100px;
}

.sectionFooter {
  background-color: rgba(40, 35, 35, 1);
  color: var(--main-color);
  font-family: var(--main-font-family);

  padding: 40px 0;
  text-align: center;
}

.sectionFooter h3 {
  font-weight: 500;
}

.sectionFooter h3,
.sectionFooter .webInfo {
  line-height: 30px;
}
